@charset "utf-8";
/* header */
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.7%;
    /* 53/1920 */
    padding-right: 7.6%;
    /* 145/1920 */
    position: absolute;
    width: 100%;
}

.header_nav ul {
    display: flex;
    gap: 70px;

}

.header_nav a {
    color: #fff;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.logo {
    width: 226px;
}

.hamburger,
.header_nav-sp {
  display: none;
}

body {
    background-color: #e8d9bf;
}

.wrapper {
  padding: 0 10px;
}

/* メインビジュアル下 */

.sub_sentence {
    font-family: "游明朝体", Yumincho, sans-serif;
    text-align:center;
}

.sub_eigo {
    font-size: 30px;
    padding-top: 100px;
}

.sub_title {
    font-size: 82px;
    font-weight: normal;
    line-height: 1.17em;
    padding-top: 55px;
}

.sub_japanese {
    font-size: 23px;
    font-weight: normal;
    line-height: 1.65em;
    padding-top: 50px;
    padding-bottom: 100px;
}

/* ABOUT US */

  section h2 img {
    height: 77px;
    width: auto;
  }

.about_us_wrap {
  padding-bottom: 67px;
}

.aboutus_logo {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.aboutus_logo picture {
  width: 50%;
}

.aboutus_logo picture img {
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.aboutus_right img {
  padding-left: 83px;
}

.aboutus_right {
  flex: 1;
  flex-direction:column;      
  align-items:left;      
  gap:2.5rem;  
}     

.aboutus_right {
  width: 50%;
  color: #3a2b1f;
  font-family: "游明朝体", "Yu Mincho", serif;
}


.aboutus_ds {
  font-size: 44px;
  line-height: 1.6;
  font-weight: normal;
  padding: 40px 0 28px 80px;
  display: flex; 
  flex-direction: column; 
  justify-content: left; 
  text-align: left; 
  width: 100%;
}

.aboutus_right p {
  font-size: 16px;
  line-height: 1.7;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: left; 
  width: 100%; 
  padding: 0 10px 0 80px;
}

/* MENU */

.menu_logo {
  display: flex;
  margin: 0 auto;
  align-items: center;
  object-fit: cover;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding-bottom: 48px;
}


.menu_detail {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.menu_detail {
  display: flex;
  justify-content: space-between;
  gap: 50px
}

.drink_menu > img {
  border-top-right-radius: 30px; 
  overflow: hidden; 
  width: 100%;
}

.food_menu > img {
  border-top-right-radius: 30px; 
  overflow: hidden; 
  width: 100%;
}

.sweets_menu > img {
  border-top-right-radius: 30px; 
  overflow: hidden; 
  width: 100%;
}

.drink_menu h3 {
  font-size: 38px;
  font-weight: normal;
  color: #d30202;
  text-align: left;
  margin-top: -15px;
  margin-bottom: 25px;
}

.food_menu h3 {
  font-size: 38px;
  font-weight: normal;
  color: #d30202;
  text-align: left;
  margin-top: -15px;
  margin-bottom: 25px;
}

.sweets_menu h3 {
  font-size: 38px;
  font-weight: normal;
  color: #d30202;
  text-align: left;
  margin-top: -15px;
  margin-bottom: 25px;
}

.drink_menu p {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  line-height: 1.6;
}

.food_menu p {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  line-height: 1.6;
}

.sweets_menu p {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  line-height: 1.6;
}

/* GALLERY */
.gallery_logo {
  display: flex;
  margin: 0 auto;
  align-items: center;
  object-fit: cover;
  flex-direction: column; 
  justify-content: center; 
  padding-bottom: 26px;
}
.gallery {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 70px;
}

.gallery_scroll_wrap {
  display: flex;
}

.gallery img {
  width: 20%;
}

/* EVENT */

.event_logo img {
  display: flex;
  margin: 0 auto;
  align-items: center;
  object-fit: cover;
  flex-direction: column; 
  justify-content: center; 
  padding-bottom: 40px;
}

.event_box {
border: 2px solid #4f260b; 
padding: 20px; 
margin: 20px 20px; 
background-color: #FFFFFF; 
border-radius: 5px;
max-width: 1000px; 
margin: 0 auto 80px;
justify-content: center;
align-items: center;
}


.event_detail ul {
list-style: none; 
padding: 10px;
margin: 0;
}

.event_detail li {

font-size: 23px;
font-weight: normal;
max-width: 700px;
margin: 0 auto;
padding-bottom: 20px;
}

.event_detail a {
display: flex; 
align-items: baseline; 
}

.event_detail a p {
  border-bottom: 1px solid #3a2b1f;
}

.event_detail li span{
  padding-right: 30px;
}

.event_detail li span:first-child {
margin-right: 15px;  
color: #808080; 
font-size: 0.9em; 
}

.underline {
border-bottom: 1px solid #3a2b1f;
}



/* ACCESS */

.access_logo img {
    display: flex;
    margin: 0 auto;
    align-items: center;
    object-fit: cover;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
}

.map{
  filter: grayscale(100%) invert(92%) contrast(83%);
}

/* フッター */

.footer_logo img {
  width: 20%;
  height: auto;
  margin: 0 auto;
  align-items: center;
  gap: 60px;
  padding: 0 40px;
  margin-bottom: 50px;
}

footer {
  background-color: #fff; 
}

.site_footer { 
    background-color: #fff; 
    padding: 71px 0 75px 0; 
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    gap: 80px; 
    text-align: left; 
}

.footer_logo img {
    width: auto;
    height: 50px;
}

.footer_info p {
  line-height: 1.95em;
  font-size: 20px;
}

.copy_right {
  background-color: #fff; 
  text-align: center;
  padding-bottom: 76px;
}

.toppage {
  background-color: transform ;
  position: fixed;
  width: 125px;
  bottom: 20px;
  right: 20px;
}


/* ハンバーガーメニュー */
@media screen and (max-width: 1100px) {
  .hamburger {
    display: block;
    width: 30px;
    height: 30px;
    position:absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
  }
  .hamburger span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color:#fff;
    top: 14px;
    right: 0;
    transition: 0.3s;
  }
  .hamburger span::before {
    content:"";
    position:absolute;
    width: 100%;
    height: 3px;
    background-color:#fff;
    top: -14px;
    right: 0;
    transition: 0.3s;
  }

  .hamburger span::after {
    content:"";
    position:absolute;
    width: 100%;
    height: 3px;
    background-color:#fff;
    bottom: -14px;
    right: 0;
    transition: 0.3s;
  }
  .open span {
    background-color: transparent;
  }
  .open span::before {
    transform: rotate(45deg);
    top: 0;
  }
   .open span::after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  .header_nav {
    display: none;
  }

  .header_nav-sp{
    position: absolute;
    height: 100vh; /*画面一杯一杯という意味*/
    width: 100%;
    background-color: #000000b1;
    top: 0;
    left: 0;
  }
  .header_nav-sp a{
    color:#fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 20px;
  }

  .header_nav-sp ul {
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: center;
    align-items: center;
    gap:20px
  }

  .sub_title {
    font-size: 70px;
  }

  .aboutus_ds {
    font-size: 36px;
  }

}

/* レスポンシブ */
@media screen and (max-width:767px) {

  section h2 img {
  height: 45px;
  width: auto;
}

  /* メインビジュアル */
.sub_eigo {
  font-size:17px ;
  padding-top: 42px;
}

.sub_title {
    font-size: 38px;
    padding-top: 28px;
}

.sub_japanese {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.65em;
    padding-top: 25px;
    padding-bottom: 40px;
}

  /* ABOUT US */

  .aboutus_logo {
    flex-direction: column;
    position: relative;
    padding-top: 60px;
  }
  h2.aboutus_right {
    position: absolute;
    top: 0;
    text-align: center;
  }

.aboutus_right img {
  padding-left: 0;
}

.aboutus_logo picture img {
  border-radius: 0;
}

.aboutus_ds {
  font-weight: normal;
  text-align: left;
  line-height: 1.6;
  padding-left: 10px;
  margin: 0;
  display: block;
  }

  .aboutus_right p {
    padding-left: 10px;
  }

  .aboutus_right,
  .aboutus_logo picture {
    width: 100%;
  }


  /* メニュー */
.menu_detail {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.menu_logo {
  padding-bottom: 20px;
}

  .menu_detail li {
    width: 100%; 
    margin-bottom: 20px; 
    list-style: none; 
  }

  .drink_menu,
  .food_menu,
  .sweets_menu {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    width: 100%; 
  }

  .drink_menu img,
  .food_menu img,
  .sweets_menu img {
    height: auto; 
  }
  .drink_menu p {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  line-height: 1.6;
}

.food_menu p {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  line-height: 1.6;

}

.sweets_menu p {
  font-size: 17px;
  font-weight: normal;
  text-align: left;
  line-height: 1.6;
}

.drink_menu h3 {
  font-size: 40px;
  font-weight: normal;
  color: #d30202;
  text-align: left;
  margin-top: -20px;
  margin-bottom: 25px;
  padding-left: 10px;
}

.food_menu h3 {
  font-size: 40px;
  font-weight: normal;
  color: #d30202;
  text-align: left;
  margin-top: -25px;
  margin-bottom: 25px;
  padding-left: 10px;
}

.sweets_menu h3 {
  font-size: 40px;
  font-weight: normal;
  color: #d30202;
  text-align: left;
  margin-top: -25px;
  margin-bottom: 25px;
  padding-left: 10px;
}

/* GALLERY */

 .gallery {
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
  }

  .gallery_logo {
    padding-bottom: 20px;
  }

  .gallery_scroll_wrap {
    display: flex;
    width: calc(300px * 10); /* 画像5枚×2セットでループ */
    animation: scroll 20s linear infinite;
  }

  .gallery_scroll_wrap img {
    width: 300px;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
  }

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1500px); } /* 300px * 5枚分 */
  }

  /* EVENT */
  
  .event_logo img {
    padding-bottom: 20px;
  }

   .event_detail a {
    display:block;
    font-size: 16px;
  }

  .event_detail a p {
    white-space: nowrap;       /* 改行させない */
    overflow: hidden;          /* はみ出た部分を隠す */
    text-overflow: ellipsis;   /* …で省略表示 */
  }

  

  .event_detail span {
    font-size: 16px;
  }

  .event_box {
    width:90%
  }

  /* ACCESS */

.access_logo img {
  padding-bottom: 20px;
}

  /* フッター */

  .site_footer {
    padding: 0;
    padding-left: 20px; 
    display: block; 
    text-align: left; 
   }

  .footer_logo  {
    text-align: left; /* ロゴ画像を左寄せにする */
    margin-bottom: 20px; /* ロゴと次の要素の間に余白 */
    padding-left: 0; /* 必要に応じて調整 */

  }

  .footer_logo img {
    display: block; /* 画像がインライン要素になるのを防ぐ */
    max-width: 250px; /* ロゴの最大幅を調整（画像サイズによる） */
    height: auto;
    padding: 50px 0 0 0;
    margin: 0;
  }

  .footer_info p {
    font-size: 18px;
  }

  
  .toppage {
    width:100px;
    right: 10px;
    bottom: 10px;
  }

  .copy_right {
    padding: 43px 0 30px 0;
  }

}

